<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="imagenportada" src="assets/icon/M1.jpg"></ion-img>
    <ion-title><strong>Autores</strong></ion-title>
    <ion-progress-bar *ngIf="cargandoAutor" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="nuevo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="cargarAutores()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-list>
  <ion-item-sliding *ngFor="let autor of listaAutor">
  <ion-item  button (click)="editar(autor)">
    <ion-note slot="start">{{autor.idAutores}}</ion-note>
    <ion-label>
      <h2>{{autor.idAutores}}</h2>
      <p>{{autor.nombreAutores}} {{autor.ApellidoAutores}}</p>
      
    </ion-label>
    <ion-badge color="medium" slot="end" >{{autor.ciAutores}} C.I.</ion-badge>
  </ion-item>

  <ion-item-options>
    <ion-item-option color="danger">
      <ion-icon slot="icon-only" name="trash" (click)="confirmarEliminacion(autor)"></ion-icon>
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>
</ion-list>

<ion-modal [isOpen]="modalVisible" (didDismiss)="modalVisible = false"(didPresent)="cargarDatosEditar()"> 
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-title>{{ modoFormulario }} Autor</ion-title>
        <ion-buttons slot="end" (click)="modalVisible = false">
          <ion-button>Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div style="padding: 10px;">      
        <app-formulario-autor (recargar)="cargarAutores()"></app-formulario-autor>
      </div>
    </ion-content>

  </ng-template>
</ion-modal>

</ion-content>