<form [formGroup]="form">

  <ion-list>
    <ion-item fill="outline">
      <ion-label position="floating">Código:</ion-label>
      <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="idproyectoCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.idproyectoCtrl.touched">Ingrese un código</ion-note>
    </ion-item>

    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Titulo:</ion-label>
      <ion-input inputmode="text" type="text" placeholder="Ingresar..." formControlName="tituloCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.tituloCtrl.touched">Ingrese un titulo</ion-note>
    </ion-item>

    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Autor:</ion-label>
      <ion-select formControlName="idAutoresCtrl">
        <ion-select-option *ngFor="let autor of listaAutores" [value]="autor.idAutores">{{autor.nombreAutores}} {{ autor.ApellidoAutores}}</ion-select-option>
      </ion-select>
      <ion-note slot="error" *ngIf="form.controls.idAutoresCtrl.touched">Ingrese Autor</ion-note>
    </ion-item>

    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Tecnicatura:</ion-label>
      <ion-select formControlName="idtecnicaturasCtrl" class="select">
        <ion-select-option *ngFor="let tecnicatura of listaTecnicaturas" [value]="tecnicatura.idtecnicaturas">{{tecnicatura.especialidades}}</ion-select-option>
      </ion-select>
      <ion-note slot="error" *ngIf="form.controls.idtecnicaturasCtrl.touched">Ingrese Tecnicatura</ion-note>
    </ion-item>

    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Cohorte:</ion-label>
      <ion-select formControlName="idCohorteCtrl">
        <ion-select-option *ngFor="let cohorte of listaCohorte" [value]="cohorte.idcohorte">{{cohorte.anhosdesde}} - {{cohorte.anhoshasta}}</ion-select-option>
      </ion-select>
      <ion-note slot="error" *ngIf="form.controls.idCohorteCtrl.touched">Ingrese Cohorte</ion-note>
    </ion-item>

    <ion-item fill="outline">
      <ion-label position="floating">No. Páginas:</ion-label>
      <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="paginasCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.paginasCtrl.touched">Ingrese el nro. de páginas</ion-note>
    </ion-item>

    <ion-item fill="outline">
      <input type="file" placeholder="Ingresar..." accept="application/pdf" formControlName="documentoCtrl" (change)="onFileChange($event)">
      
    </ion-item>
    
  </ion-list>
  <ion-button expand="full" (click)="guardar()">
    <ion-icon name="save" slot="start"></ion-icon>
  </ion-button>
</form>