<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="8" size-md="6" size-lg="4">
        <form [formGroup]="form">
          <ion-list>
            <ion-item>
              <ion-label>CI</ion-label>
              <ion-input pInputText placeholder="Nro. Documento" class="w-full" formControlName="ci"></ion-input>
              <ion-note slot="error" *ngIf="form.controls.ci.touched" color="danger">Ingrese el año de cohorte
              </ion-note>
            </ion-item>
            <ion-item>
              <ion-label>Contraseña</ion-label>
              <ion-input id="password" type="password" placeholder="Contraseña" class="w-full"
                formControlName="password"></ion-input>
              <ion-note slot="error" *ngIf="form.controls.password.touched" color="danger">Ingrese el año de cohorte
              </ion-note>
            </ion-item>
          </ion-list>
        </form>
        <ion-button expand="full" (click)="iniciarSesion()">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>