<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="height: 50px;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="imagenportada" src="assets/icon/M1.jpg"></ion-img>

    <ion-title><strong> login</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="8" size-md="6" size-lg="4">
        <form [formGroup]="form">
          <ion-list>
            <ion-item>
              <ion-label></ion-label>
              <ion-input pInputText placeholder="Nro. Documento" class="w-full" formControlName="ci"></ion-input>
              <ion-note slot="error" *ngIf="form.controls.ci.touched" color="danger">Ingrese el Nro. Documento
              </ion-note>
            </ion-item>
            <ion-item>
              <ion-label></ion-label>
              <ion-input id="password" type="password" placeholder="Contraseña" class="w-full"
                formControlName="password"></ion-input>
              <ion-note slot="error" *ngIf="form.controls.password.touched" color="danger">Ingrese la contraseña
              </ion-note>
            </ion-item>

          </ion-list>
        </form>
        <ion-button expand="full" (click)="iniciarSesion()">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>