<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tecnicaturas</ion-title>
    <ion-progress-bar *ngIf="cargandoTecnicaturas" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="nuevo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="cargandoTecnicaturas()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let tecnicatura of listaTecnicaturas">
      <ion-item button (click)="editar(tecnicatura)">
        <ion-note slot="start">{{tecnicatura.id}}</ion-note>
        <ion-label>
          <h2>{{tecnicatura.idtecnicatura}}</h2>
          <p>{{tecnicatura.especialidades}} </p>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash" (click)="confirmarEliminacion(tecnicatura)"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-modal [isOpen]="modalVisible" (didDismiss)="modalVisible = false" (didPresent)="cargarDatosEditar()">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-title>{{ modoFormulario }} Tecnicaturas</ion-title>
          <ion-buttons slot="end" (click)="modalVisible = false">
            <ion-button>Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div style="padding: 10px;">
          <app-formulario-tecnicaturas (recargar)="cargarTecnicaturas()"></app-formulario-tecnicaturas>
        </div>
      </ion-content>

    </ng-template>
  </ion-modal>

</ion-content>