<form [formGroup]="form">

  <ion-list>
    <ion-item fill="outline">
      <ion-label position="floating">Código:</ion-label>
      <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="idCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.idCtrl.touched">Ingrese un código</ion-note>
    </ion-item>

    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Tecnicatura:</ion-label>
      <ion-input inputmode="text" type="text" placeholder="Ingresar..." formControlName="tecnicaturaCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.tecnicaturaCtrl.touched">Ingrese una tecnicatura</ion-note>
    </ion-item>

    
    
  </ion-list>
  <ion-button expand="full" (click)="guardar()">
    <ion-icon name="save" slot="start"></ion-icon>
  </ion-button>
</form>