<form [formGroup]="form">
  
  <ion-list>
  
    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Cohorte:</ion-label>
      <ion-input formControlName="idcohorteCtrl">
        
      </ion-input>
      <ion-note slot="error" *ngIf="form.controls.idcohorteCtrl.touched">Ingresar un Codigo</ion-note>
    </ion-item>
    
  
    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Años desde:</ion-label>
      <ion-input inputmode="text" type="text" placeholder="Ingresar..." formControlName="anhosdesdeCtrl"></ion-input>
        <ion-note slot="error" *ngIf="form.controls.anhosdesdeCtrl.touched">Ingrese Años desde</ion-note>
      </ion-item>
  
      <ion-item fill="outline" class="item-espaciado">
        <ion-label position="floating">Años hasta:</ion-label>
        <ion-input inputmode="text" type="text" placeholder="Ingresar..." formControlName="anhoshastaCtrl"></ion-input>
          <ion-note slot="error" *ngIf="form.controls.anhoshastaCtrl.touched">Ingrese Años hasta</ion-note>
        </ion-item>
  
  
  </ion-list>
  <ion-button expand="full" (click)="guardar()">
    <ion-icon name="save" slot="start"></ion-icon>
  </ion-button>
  </form>
  
  
    