<form [formGroup]="form">
<ion-list>

  <ion-item fill="outline" class="item-espaciado">
    <ion-label position="floating">Codigo:</ion-label>
    <ion-input formControlName="idautorCtrl">
      
    </ion-input>
    <ion-note slot="error" *ngIf="form.controls.idautorCtrl.touched">Ingresar un Codigo</ion-note>
  </ion-item>
  

  <ion-item fill="outline" class="item-espaciado">
    <ion-label position="floating">Nombres:</ion-label>
    <ion-input inputmode="text" type="text" placeholder="Ingresar..." formControlName="nombresCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.nombresCtrl.touched">Ingrese Nombres</ion-note>
    </ion-item>

    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Apellidos:</ion-label>
      <ion-input inputmode="text" type="text" placeholder="Ingresar..." formControlName="apellidosCtrl"></ion-input>
        <ion-note slot="error" *ngIf="form.controls.apellidosCtrl.touched">Ingrese Apellidos</ion-note>
      </ion-item>

  <ion-item fill="outline" >
    <ion-label position="floating">Cedula de Identidad:</ion-label>
    <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="ciCtrl"></ion-input>
    <ion-note slot="error" *ngIf="form.controls.ciCtrl.touched" color="danger">Ingrese Cedula de Identidad </ion-note>
  </ion-item>


</ion-list>
<ion-button expand="full" (click)="guardar()">
  <ion-icon name="save" slot="start"></ion-icon>
</ion-button>
</form>


  