<form [[formGroup]="form">
<ion-list>

  <ion-item fill="outline" class="item-espaciado">
    <ion-label position="floating">Autor</ion-label>
    <ion-select formControlName="idautorCtrl">
      <ion-select-option *ngFor="let autor of listaAutores" [value]="autor.id">{{autor.nombre}}</ion-select-option>
    </ion-select>
    <ion-note slot="error" *ngIf="form.controls.idautorCtrl.touched">Seleccione un autor</ion-note>
  </ion-item>
  

  <ion-item fill="outline" class="item-espaciado">
    <ion-label position="floating">Tecnicatura:</ion-label>
    <ion-input inputmode="text" type="text" placeholder="Ingresar..." formControlName="idtecnicaturaCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.idtecnicaturaCtrl.touched">Ingrese Tecnicatura</ion-note>
    </ion-item>

  <ion-item fill="outline" >
    <ion-label position="floating">Años:</ion-label>
    <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="añosCtrl"></ion-input>
    <ion-note slot="error" *ngIf="form.controls.añosCtrl.touched" color="danger">Ingrese el año </ion-note>
  </ion-item>


</ion-list>
<ion-button expand="full" (click)="guardar()">
  <ion-icon name="save" slot="start"></ion-icon>
</ion-button>
</form>


  